*.o
moc_*.cpp
ui_*.h
qrc_*.cpp
*.pro.user
/Makefile
/Qldd
*.qmake.stash
/.vscode/
/cmake-build-Debug/
/cmake-build-Release/
/.idea/
/cmake-build-debug/
/cmake-build-release/
/.DS_Store
/CMakeLists.txt.user
/cmake-build-debug/
/cmake-build-qt-debug/
/cmake-build-qt-relwithdebInfo/
/cmake-build-relwithdebinfo/
/cmake-vsc-build/