[Desktop Entry]
Encoding=UTF-8
Name=LinuxDependency
Comment=View exeutable dependency
Exec=Qldd
Icon=/home/`whoami`/.local/share/icons/Qldd.ico
Categories=Application;Development
Version=1.0
Type=Application
Terminal=0

