[Desktop Entry]
Type=Application
Version=1.0.0
Name=DependencyViewer
GenericName=DependencyViewer
Comment=DependencyViewer
Icon=icon
Terminal=false
Exec=Qldd %F
MimeType=text/text;
Categories=Qt;Utility;
