[Desktop Entry]
Type=Application
Version=1.0.0
Name=DependencyViewer
GenericName=DependencyViewer
Comment=DependencyViewer for libraries and executable
Icon=/usr/share/icons/qldd/Qldd.png
Terminal=false
Exec=Qldd
MimeType=application/x-sharedlib;application/x-executable
Categories=Utility
